Repository kokuwaio/helm-maven-plugin, pull requests merged in 2023-07, with the labels that each got.

#306 helm:upload => "insecure" flag support (HTTPS upload)
  .gitignore
  README.md
  src/main/java/io/kokuwa/maven/helm/AbstractHelmMojo.java
  src/main/java/io/kokuwa/maven/helm/InitMojo.java
  src/main/java/io/kokuwa/maven/helm/UploadMojo.java
Labels: feature

#308 Maintenance: bump helm version in tests from 3.10.1 to 3.12.0
  .gitignore
  src/it/init-with-download-with-configured-version/pom.xml
  src/it/init-with-download-with-configured-version/postbuild.bsh
  src/test/java/io/kokuwa/maven/helm/InitMojoTest.java
  src/test/java/io/kokuwa/maven/helm/junit/MojoExtension.java
Labels: dependencies

#310 Refactoring of `helm:upload` and add tests for `insecure`
  README.md
  src/main/java/io/kokuwa/maven/helm/UploadMojo.java
  src/test/java/io/kokuwa/maven/helm/UploadMojoTest.java
Labels: maintenance, java

#309 Refactoring of `helm:init` and add tests for `fallbackBinaryDownload`
  src/main/java/io/kokuwa/maven/helm/InitMojo.java
  src/test/java/io/kokuwa/maven/helm/InitMojoTest.java
Labels: maintenance, java

#313 Maintenance: remove spotbug and pmd warnings
  src/main/java/io/kokuwa/maven/helm/AbstractHelmMojo.java
  src/main/java/io/kokuwa/maven/helm/InitMojo.java
  src/main/java/io/kokuwa/maven/helm/UploadMojo.java
  src/main/java/io/kokuwa/maven/helm/pojo/HelmExecutable.java
Labels: maintenance, java

#312 Use proxy from `settings.xml` in `helm:init`, fix #91
  src/it/init-with-download-with-proxy/invoker.properties
  src/it/init-with-download-with-proxy/pom.xml
  src/it/init-with-download-with-proxy/postbuild.bsh
  src/it/init-with-download-with-proxy/settings.xml
  src/main/java/io/kokuwa/maven/helm/AbstractHelmMojo.java
  src/main/java/io/kokuwa/maven/helm/InitMojo.java
  src/main/java/io/kokuwa/maven/helm/TLSHelper.java
  src/main/java/io/kokuwa/maven/helm/UploadMojo.java
  src/test/java/io/kokuwa/maven/helm/InitMojoTest.java
Labels: feature
